/* 
Document   : estilos
Created on : 07/03/2008, 13:12:13
Author     : adriano
Description:
Purpose of the stylesheet follows.
*/

/* 
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
@charset "utf-8";

root { 
    display: block;    
}
body{    
    background-color: #c9dee8;
    
    color: #666666;
}

font{
    font-family: Arial,Helvetica,sans-serif;
}
font.mensagem{    
    color: blue;
    font-weight: 100;
}
font.erro{
    color: red;
    font-weight: 300;
}
p.erro{
    color: red;
    font-weight: 300;
}

font.erroCampo{
    color: red;
    font-weight: 100;   
    position: relative;
    left: 5%;
}
p{
    font-family: Arial,Helvetica,sans-serif;
    color: #333333;
}
p.bemvindo{  
    font-weight: bold;
}
form{
    background-color: #eff7f7;
    font-family: Arial,Helvetica,sans-serif;
    text-indent: 5%;
    padding-top: 1mm;
    padding-bottom: 1mm;
}

input.caixaTexto{
    position: relative;
    text-indent: 0%;
    left: 5%;    
    width: 50%;
}
input.botao{
    position: relative;
    left: 5%;
}

select.cadastro {
    position: relative;
    text-indent: 5%;
    left: 5%;
}

p.caption{    
    background-color: #7b8e94;    
    font-weight: 600;
    color: #f2f1f1;
    font-style: normal;      
    font-size: large;
  background-position: left top;
}
p.grupo{
    font-weight: 600;
    color: #666666;
    
    
}
table{
    background-color: #e0eef1;
    font-family: Arial,Helvetica,sans-serif;
    color: #666666;
    
}
table.cadastro{
    width: 100%;
}

table.menu{
    background-color: #c9dee8;
    color: #666666;
    font-weight: bold;
    font-size: small;
}
th.cadastro{
    
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #000000;    
    background-position: center;
    padding-bottom: 10px;
    clip: rect(0px, 10px, 0px, 0px);
    border-bottom-style: groove;
    padding-top: 10px;
}
th.menuItem{
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    background-position: center center;
    
    font-family: Arial,Helvetica,sans-serif;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 4px;
    background-color: #bee0e9;
    border-top-color: #bee0e9;
    border-bottom-color: #bee0e9;
    border-left-color: #bee0e9;
    border-right-color: #84d0de;
}
tr.dados{    
    background-color: #e3feff;    
    font-family: Arial,Helvetica,sans-serif;
    color: #666666;
}
tr.contrato{    
    background-color: white;    
    font-family: Arial,Helvetica,sans-serif;
    color: black;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    text-align: right;
}
tr.contratoCenter{    
    background-color: white;    
    font-family: Arial,Helvetica,sans-serif;
    color: black;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    text-align: center;
}
tr.cabecalho{
    
    font-weight: 600;    
    font-style: normal;
    font-variant: normal;    
    color: #333333;
    font-size: medium;
    font-family: Arial,Helvetica,sans-serif;
}

table.nomeSistema {    
    background-color: #517580;
    font-family: Arial,Helvetica,sans-serif;
    color: #ffffff;
    font-style: oblique;
    font-weight: 900;
    font-variant: small-caps;
    font-size: XX-large;
    text-align: right;       
    vertical-align: middle;
    width: 100%;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
th.nomeSistema1{
    color: #ffffff;
    background-color: #517580;
    width: 100;

}


form {
    background-color: #e0eef1;    
    
}
img {
    
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
table.tabelaErro{
    
    width: 90%;    
    margin-left: 5%;
    color: red;
    font-weight: bold;
    font-size: X-small;
    margin-bottom: 10px;
}
td.tabelaErro{
    width: 90%;    
    margin-left: 5%;
    color: red;
    font-weight: bold;
    font-size: X-small;
    margin-bottom: 10px;
}
table.tabelaCadastro{
    width: 90%;        
    margin-left: 5%;
}
td.tabelaCadastro{
    padding-left: 5px;
    padding-right: 5px;
}
input.tabelaCadastro{
    width: 100%;
}
td.caixaSelecaoTabelaCadastro{  
    
  text-align: right;
}
select.tabelaCadastro {        
    width: 100%;       
}
