<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>GelicFilter</filter-name>
        <filter-class>control.GelicFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GelicFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        </filter-mapping>
    <servlet>
        <servlet-name>Gelic</servlet-name>
        <servlet-class>control.GelicServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet>
        <servlet-name>Comercial</servlet-name>
        <servlet-class>control.ServletComercial</servlet-class>
        <load-on-startup>2</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>Gelic</servlet-name>
        <url-pattern>/Gelic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comercial</servlet-name>
        <url-pattern>/Comercial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
