/* 
Document   : estilos
Created on : 07/03/2008, 13:12:13
Author     : adriano
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;    
}
body{    
    background-color: #c9dee8;
    
    color: #666666;
}
h1.nomeSistema {    
    background-color: #517580;
    font-family: Arial,Helvetica,sans-serif;
    background-position: right center;
    color: #ffffff;
    font-style: oblique;
    font-weight: 900;
    font-variant: small-caps;
    font-size: XX-large;
    text-align: right;       
    text-indent: 10%;
    vertical-align: middle;
}
font{
    font-family: Arial,Helvetica,sans-serif;
}
font.mensagem{    
    color: blue;
    font-weight: 100;
}
font.erro{
    color: red;
    font-weight: 300;
}
font.erroCampo{
    color: red;
    font-weight: 100;   
    position: relative;
    left: 5%;
}
p{
    font-family: Arial,Helvetica,sans-serif;
    color: #333333;
}
p.bemvindo{  
    font-weight: bold;
}
form{
    background-color: #eff7f7;
    font-family: Arial,Helvetica,sans-serif;
    text-indent: 5%;
    padding-top: 1mm;
    padding-bottom: 1mm;
}

input.caixaTexto{
    position: relative;
    text-indent: 5%;
    left: 5%;
}
input.botao{
    position: relative;
    left: 5%;
}

select {
    position: relative;
    text-indent: 5%;
    left: 5%;
}

p.caption{    
    background-color: #7b8e94;    
    font-weight: 600;
    color: #f2f1f1;
    font-style: normal;
    font-variant: small-caps;   
    font-size: large;
}
table{
    background-color: #e0eef1;
    font-family: Arial,Helvetica,sans-serif;
    width: 100%;
    
    color: #666666;
    text-indent: 5%;
}
tr.dados{    
    background-color: #e3feff;    
    font-family: Arial,Helvetica,sans-serif;
    color: #666666;
}
tr.cabecalho{
    
    font-weight: 600;    
    font-style: normal;
    font-variant: normal;    
    color: #333333;
     font-size: medium;
    font-family: Arial,Helvetica,sans-serif;
}
 form {
    background-color: #e0eef1;    
     
 }
img {

    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}

